In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("Data/ratings.dat", delimiter="::",header=None, names=["user_id", "movie_id", "rating", "timestamp"])
ratings.drop(axis=1, labels=["timestamp"], inplace=True)

d:\applications\devtools\anaconda\envs\ilearn\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [16]:
matrix = pd.read_csv("Data/rating_matrix.csv")

In [17]:
from scipy.sparse import csr_matrix
sparse_matrix = csr_matrix(matrix)

In [5]:
from sklearn.neighbors import NearestNeighbors

In [18]:
def findksimilaritems(item_id, k=5):
    similarities=[]
    indices=[]    
    model_knn = NearestNeighbors(metric = "cosine", algorithm = 'brute')
    model_knn.fit(sparse_matrix)

    distances, indices = model_knn.kneighbors(matrix.iloc[item_id-1, :].values.reshape(1, -1), n_neighbors = k+1)
    similarities = 1-distances.flatten()
    print('{0} most similar items for item {1}:\n'.format(k,item_id))
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i]+1 == item_id:
            continue;

        else:
            print('{0}: Item {1} , with similarity of {2}'.format(i,indices.flatten()[i]+1, similarities.flatten()[i]))

    return similarities,indices

In [20]:
similarities,indices=findksimilaritems(111)

5 most similar items for item 111:

1: Item 493 , with similarity of 0.955848797004569
2: Item 1050 , with similarity of 0.955255507656759
3: Item 854 , with similarity of 0.9552544741891215
4: Item 924 , with similarity of 0.9548017263165968
5: Item 955 , with similarity of 0.9544882737022837

In [21]:
matrix.shape

(6040, 3707)

In [24]:
matrix.head()

,user_id,1,2,3,4,5,6,7,8,9,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
0,1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0