In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
movies = pd.read_csv("Data/movies.dat", sep="::", header=None, names=["title", "genre"])

d:\applications\devtools\anaconda\envs\ilearn\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [4]:
movies.head()

                                title                         genre
1                    Toy Story (1995)   Animation|Children's|Comedy
2                      Jumanji (1995)  Adventure|Children's|Fantasy
3             Grumpier Old Men (1995)                Comedy|Romance
4            Waiting to Exhale (1995)                  Comedy|Drama
5  Father of the Bride Part II (1995)                        Comedy

In [7]:
movies.tail()

                           title           genre
3948     Meet the Parents (2000)          Comedy
3949  Requiem for a Dream (2000)           Drama
3950            Tigerland (2000)           Drama
3951     Two Family House (2000)           Drama
3952       Contender, The (2000)  Drama|Thriller

In [28]:
movies["movieId"] = movies.index

In [29]:
movies.head()

                                title                         genre  movieId
1                    Toy Story (1995)   Animation|Children's|Comedy        1
2                      Jumanji (1995)  Adventure|Children's|Fantasy        2
3             Grumpier Old Men (1995)                Comedy|Romance        3
4            Waiting to Exhale (1995)                  Comedy|Drama        4
5  Father of the Bride Part II (1995)                        Comedy        5

In [16]:
imdb_links = pd.read_csv("../ml recommender/dataset/link.csv", usecols=["movieId", "imdbId"])

In [17]:
imdb_links.head()

   movieId  imdbId
0        1  114709
1        2  113497
2        3  113228
3        4  114885
4        5  113041

In [18]:
any(imdb_links.movieId == 3952)

True

In [21]:
imdb_links.dtypes

movieId    int64
imdbId     int64
dtype: object

In [22]:
imdb_links.imdbId = imdb_links.imdbId.apply(lambda x: "0"*(7-len(str(x)))+str(x))

In [23]:
imdb_links.dtypes

movieId     int64
imdbId     object
dtype: object

In [25]:
imdb_links.head()

   movieId   imdbId
0        1  0114709
1        2  0113497
2        3  0113228
3        4  0114885
4        5  0113041

In [34]:
test1 = movies.join(imdb_links.set_index("movieId"), how="left", on="movieId")

In [35]:
test1.head()

,title,genre,movieId,imdbId
1,Toy Story (1995),Animation|Children's|Comedy,1,0114709
2,Jumanji (1995),Adventure|Children's|Fantasy,2,0113497
3,Grumpier Old Men (1995),Comedy|Romance,3,0113228
4,Waiting to Exhale (1995),Comedy|Drama,4,0114885
5,Father of the Bride Part II (1995),Comedy,5,0113041

In [36]:
test1.tail()

                           title           genre  movieId   imdbId
3948     Meet the Parents (2000)          Comedy     3948  0212338
3949  Requiem for a Dream (2000)           Drama     3949  0180093
3950            Tigerland (2000)           Drama     3950  0170691
3951     Two Family House (2000)           Drama     3951  0202641
3952       Contender, The (2000)  Drama|Thriller     3952  0208874

In [46]:
test1[test1["imdbId"].isnull()].head()

                           title          genre  movieId imdbId
557            Mamma Roma (1962)          Drama      557    NaN
578  Hour of the Pig, The (1993)  Drama|Mystery      578    NaN
669             Aparajito (1956)          Drama      669    NaN
811     Bewegte Mann, Der (1994)         Comedy      811    NaN
863   Celestial Clockwork (1994)         Comedy      863    NaN

In [48]:
test1.fillna("0", inplace=True)

In [49]:
test1[test1["imdbId"].isnull()]

Empty DataFrame
Columns: [title, genre, movieId, imdbId]
Index: []

In [51]:
test1.head()

,title,genre,movieId,imdbId
1,Toy Story (1995),Animation|Children's|Comedy,1,0114709
2,Jumanji (1995),Adventure|Children's|Fantasy,2,0113497
3,Grumpier Old Men (1995),Comedy|Romance,3,0113228
4,Waiting to Exhale (1995),Comedy|Drama,4,0114885
5,Father of the Bride Part II (1995),Comedy,5,0113041

In [54]:
test1.to_csv("Data/movies.dat", sep=";", encoding="utf-8")

In [ ]:
movies = pd.read_csv("Data/movies.dat", sep=";", index_col=0)
movies["year"] = movies["title"].apply(lambda x: x[-5:-1])
movies["title"] = movies["title"].apply(lambda x: x[:-6])
movies.to_csv("Data/movies.dat", sep=";", encoding="utf-8")