In [2]:
import pandas as pd

In [3]:
import numpy as np

In [99]:
movies = pd.read_csv("Data/movies.dat", sep=";", index_col=0)

In [100]:
movies.head()

,title,genre,movieId,imdbId,year
1,Toy Story,Animation|Children's|Comedy,1,114709,1995
2,Jumanji,Adventure|Children's|Fantasy,2,113497,1995
3,Grumpier Old Men,Comedy|Romance,3,113228,1995
4,Waiting to Exhale,Comedy|Drama,4,114885,1995
5,Father of the Bride Part II,Comedy,5,113041,1995

In [101]:
movies = movies.loc[:, ["title", "genre", "year"]]
movies.head()

                          title                         genre  year
1                    Toy Story    Animation|Children's|Comedy  1995
2                      Jumanji   Adventure|Children's|Fantasy  1995
3             Grumpier Old Men                 Comedy|Romance  1995
4            Waiting to Exhale                   Comedy|Drama  1995
5  Father of the Bride Part II                         Comedy  1995

In [37]:
genre_list = "Action*Adventure*Animation*Children's*Comedy*Crime*Documentary*Drama*Fantasy*Film-Noir*Horror*Musical*Mystery*Romance*Sci-Fi*Thriller*War*Western".split("*")

In [38]:
genre_list

['Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [44]:
# for i, g in enumerate(genre_list):
#     movies[g] = movies.genre.apply(lambda x: 1 if g in x.split("|") else 0)

In [108]:
movies["tags"] = movies.title + " " + movies.year.apply(str) + " " + movies.genre.apply(lambda x: x.replace("|", " "))

In [109]:
# movies.drop(axis=1, labels=["genre"], inplace=True)
movies.head()

,title,genre,year,tags
1,Toy Story,Animation|Children's|Comedy,1995,Toy Story 1995 Animation Children's Comedy
2,Jumanji,Adventure|Children's|Fantasy,1995,Jumanji 1995 Adventure Children's Fantasy
3,Grumpier Old Men,Comedy|Romance,1995,Grumpier Old Men 1995 Comedy Romance
4,Waiting to Exhale,Comedy|Drama,1995,Waiting to Exhale 1995 Comedy Drama
5,Father of the Bride Part II,Comedy,1995,Father of the Bride Part II 1995 Comedy

In [110]:
movies.shape

(3883, 4)

In [111]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [112]:
tf_idf = TfidfVectorizer()

In [113]:
X = tf_idf.fit_transform(movies.tags)

In [114]:
from sklearn.metrics.pairwise import cosine_similarity
sim_mat = cosine_similarity(X, X)

In [115]:
pd.DataFrame(sim_mat).head()

,0,1,2,3,4,5,6,7,8,9,...,3873,3874,3875,3876,3877,3878,3879,3880,3881,3882
0,1.000000,0.102821,0.030133,0.031453,0.028848,0.0,0.044319,0.087843,0.0,0.00000,...,0.045126,0.044135,0.229337,0.000000,0.0,0.034381,0.000000,0.000000,0.000000,0.000000
1,0.102821,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.181425,0.0,0.11321,...,0.000000,0.000000,0.185546,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.030133,0.000000,1.000000,0.028124,0.025795,0.0,0.120626,0.000000,0.0,0.00000,...,0.040350,0.039464,0.000000,0.000000,0.0,0.030742,0.000000,0.000000,0.000000,0.000000
3,0.031453,0.000000,0.028124,1.000000,0.026925,0.0,0.041365,0.000000,0.0,0.00000,...,0.042117,0.072148,0.000000,0.023998,0.0,0.032089,0.023032,0.031891,0.024818,0.029292
4,0.028848,0.000000,0.025795,0.026925,1.000000,0.0,0.037939,0.000000,0.0,0.00000,...,0.038629,0.037781,0.027554,0.000000,0.0,0.059859,0.000000,0.000000,0.000000,0.036960

In [184]:
def kSimilarMovies(index, k = 10):
    indices = []
    score_series = pd.Series(sim_mat[index-1]).sort_values(ascending = False)
    similarities = list(score_series.iloc[1:k+1])
    top_k_indexes = list(score_series.iloc[1:k+1].index)
    
    for i in top_k_indexes:
        indices.append(list(movies.index)[i])
    return indices

In [186]:
# movies = pd.read_csv("Data/movies.dat", sep=";", index_col=0)
# movies = movies.loc[:, ["title", "genre", "year"]]
# movies["tags"] = movies.title + " " + movies.year.apply(str) + " " + movies.genre.apply(lambda x: x.replace("|", " "))
# tf_idf = TfidfVectorizer()
# X = tf_idf.fit_transform(movies.tags)
# sim_mat = cosine_similarity(X, X)

# indices = pd.Series(movies.index)

# def kSimilarMovies(index, k = 10):
#     indices = []
#     score_series = pd.Series(sim_mat[index-1]).sort_values(ascending = False)
#     similarities = list(score_series.iloc[1:k+1])
#     top_k_indexes = list(score_series.iloc[1:k+1].index)

#     for i in top_k_indexes:
#         indices.append(list(movies.index)[i])
#     return indices

In [187]:
for i in kSimilarMovies(1):
    print(movies.ix[i]["title"])

Toy Story 2
L.A. Story
Balto
Lilian's Story
Pyromaniac's Love Story, A
We're Back! A Dinosaur's Story
Goofy Movie, A
Pocahontas
Gumby: The Movie
NeverEnding Story, The

d:\applications\devtools\anaconda\envs\ilearn\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [166]:
movies.ix[858]

title                            Godfather, The
genre                         Action|Crime|Drama
year                                        1972
tags     Godfather, The  1972 Action Crime Drama
Name: 858, dtype: object

In [147]:
list(movies.index)[1]

2