In [ ]:
#Error #1: movie_id was taken as int in python code

In [1]:
from pymongo import MongoClient

In [2]:
db = MongoClient("localhost", 27017).movrec

In [8]:
movie = list(db.Movies.find({"movie_id":"50"}))

In [9]:
movie

[{'_id': ObjectId('5c13cb5487cba05168deaefc'),
  'genres': ['Crime', 'Thriller'],
  'imdb_id': '114814',
  'movie_id': '50',
  'title': 'Usual Suspects, The ',
  'year': '1995'}]

In [ ]:
# IMDB_id must be present

In [11]:
list(db.Movies.find({"movie_id":"171997"}))

[{'_id': ObjectId('5ca20f991e54dc8f99463870'),
  'genres': ['Animation', 'Adventure'],
  'imdb_id': '910970',
  'movie_id': '171997',
  'title': 'WALL-E',
  'year': '2008'}]

In [12]:
#3 loading data into pandas from mongodb

In [136]:
movies = list(db.Movies.find())

In [137]:
len(movies)

3884

In [5]:
import pandas as pd

In [145]:
df = pd.DataFrame(movies)
df.drop(labels=["_id"], axis=1, inplace=True)
df.index = df.movie_id.apply(int)
df.dropna(axis=0, inplace=True)
df.head()

,genres,imdb_id,movie_id,title,year
movie_id,,,,,
1,"[Animation, Children's, Comedy]",114709,1,Toy Story,1995
2,"[Adventure, Children's, Fantasy]",113497,2,Jumanji,1995
3,"[Comedy, Romance]",113228,3,Grumpier Old Men,1995
4,"[Comedy, Drama]",114885,4,Waiting to Exhale,1995
5,[Comedy],113041,5,Father of the Bride Part II,1995

In [124]:
df.genres = df.genres.apply(lambda x: " ".join(x))

In [125]:
df.head()

,genres,imdb_id,movie_id,title,year
1,Animation Children's Comedy,114709,1,Toy Story,1995
2,Adventure Children's Fantasy,113497,2,Jumanji,1995
3,Comedy Romance,113228,3,Grumpier Old Men,1995
4,Comedy Drama,114885,4,Waiting to Exhale,1995
5,Comedy,113041,5,Father of the Bride Part II,1995

In [143]:
df.index

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       ...
       '3944', '3945', '3946', '3947', '3948', '3949', '3950', '3951', '3952',
       '171997'],
      dtype='object', name='movie_id', length=3884)

In [142]:
df.dtypes

genres      object
imdb_id     object
movie_id    object
title       object
year        object
dtype: object

In [146]:
# Content recommender issues

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors

In [57]:
# Content Based Recommender
movies = list(db.Movies.find())
movies = pd.DataFrame(movies)
movies.drop(labels=["_id"], axis=1, inplace=True)
movies.index = movies.movie_id.apply(int)
movies.dropna(axis=0, inplace=True)
movies = movies.loc[:, ["title", "genres", "year"]]
movies["tags"] = movies.title + " " + movies.year.apply(str) + " " + movies.genres.apply(lambda x: " ".join(x))
tf_idf = TfidfVectorizer()
X = tf_idf.fit_transform(movies.tags)
sim_mat = cosine_similarity(X, X)
# New code to fix indexing
sim_mat = pd.DataFrame(sim_mat)
sim_mat.index = movies.index

In [58]:
def kContent(index, k = 10):
    indices = []
    score_series = pd.Series(sim_mat.ix[index]).sort_values(ascending = False)
    similarities = list(score_series.iloc[1:k+1])
    top_k_indexes = list(score_series.iloc[1:k+1].index)
    print(top_k_indexes)

    for i in top_k_indexes:
        indices.append(list(movies.index)[i])
    print("Content generated")
    return similarities, indices

In [59]:
kContent(50)

[686, 5, 2492, 21, 168, 3694, 3695, 256, 46, 3825]
Content generated

d:\applications\devtools\anaconda\envs\ilearn\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

([0.25613291220349843,
  0.2553055777773684,
  0.25132892181995814,
  0.24879190908512705,
  0.24277201018520411,
  0.2415198178540533,
  0.24113123241637172,
  0.2252057478959654,
  0.21054876357966143,
  0.19579735828227116],
 [695, 6, 2561, 22, 170, 3763, 3764, 259, 47, 3895])

In [19]:
ratings_list = list(db.Movies.find({"movie_id":"171997"}))

In [18]:
ratings_list[0]

{'_id': ObjectId('5c13cb5487cba05168deb551'),
 'genres': ['Drama'],
 'imdb_id': '120255',
 'movie_id': '1719',
 'title': 'Sweet Hereafter, The ',
 'year': '1997'}

In [20]:
ratings_list[0]

{'_id': ObjectId('5ca20f991e54dc8f99463870'),
 'genres': ['Animation', 'Adventure'],
 'imdb_id': '910970',
 'movie_id': '171997',
 'title': 'WALL-E',
 'year': '2008'}

In [54]:
# print(movie_id)
movie = list(db.Movies.find({"movie_id":str(171997)}))[0]
print(movie)
_, indices = kContent(int(171997), 5)

{'_id': ObjectId('5ca20f991e54dc8f99463870'), 'title': 'WALL-E', 'year': '2008', 'imdb_id': '910970', 'movie_id': '171997', 'genres': ['Animation', 'Adventure']}
[1278, 3676, 1526, 1254, 554]
Content generated

In [27]:
sim_mat.in

array([[ 1.        ,  0.17586746,  0.09770404, ...,  0.        ,
         0.        ,  0.12963051],
       [ 0.17586746,  1.        ,  0.07331934, ...,  0.        ,
         0.        ,  0.08393338],
       [ 0.09770404,  0.07331934,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  1.        ,
         0.16779288,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.16779288,
         1.        ,  0.        ],
       [ 0.12963051,  0.08393338,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [34]:
sim_mat = pd.DataFrame(sim_mat)

In [41]:
sim_mat.index = movies.index

In [48]:
movies.tail()

,title,genres,year,tags
movie_id,,,,
3949,Requiem for a Dream,[Drama],2000,Requiem for a Dream 2000 Drama
3950,Tigerland,[Drama],2000,Tigerland 2000 Drama
3951,Two Family House,[Drama],2000,Two Family House 2000 Drama
3952,"Contender, The","[Drama, Thriller]",2000,"Contender, The 2000 Drama Thriller"
171997,WALL-E,"[Animation, Adventure]",2008,WALL-E 2008 Animation Adventure